<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fa-mudinder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d5efc245-dd77-4e35-b07c-07108194916d/resourceGroups/rg-MudInder/providers/Microsoft.Web/sites/fa-mudinder</ResourceId>
    <UserName>$fa-mudinder</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fa-mudinder.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>

  <ItemGroup>
    <ProjectReference Include="..\MudInder.AzureFunctions.Core\MudInder.AzureFunctions.Core.csproj" />
  </ItemGroup>
</Project>